
.container{
    background: firebrick;
}

.caja{
    width: 5em;
    height: 5em;
    border: .3em solid black;
}

.caja .nro1{
    background: yellow;
}

.caja .nro2{

}

.caja .nro3{

}

.caja .nro4{

}

.caja .nro5{

}

/*keywords from - to // 0% - 100%*/
@keyframes moverse{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateY(300%);
    }
}