:root{
    --negro: #0c0a0a;
    --blanco: #f0f0f0;
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --azulYA: #145e79;
    --main-color:#00abf0;
    /* --naranjaYa:#ff9a02; */
    /* Tipografía */
    --tipo-principal: 'Montserrat', sans-serif;
    --tipo-secundaria: Verdana;
}
body{
    max-width: 1600px;
    overflow-x: hidden;
    margin: 0 auto;
}
/* HEADER STYLES*/
.header{
    color: var(--azulYa);
    font-weight: 500;
    background:var(--second-bg-color);
    width: 100%;
    top: 0;
    left: 0;
    position: sticky;
    color: #fff;
    margin: 0 auto;
    z-index: 1000;
    box-shadow: 0em .05em .7em black;
}
.hero__container{
    flex: 1;
    max-width: 7%;

}
.bx{
    font-size: 2.5em;
    display: none;
}
.nav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}
.nav__list{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}
.nav__item{
    padding: .5em 1.4em;
    flex: 1;
    hyphens: none;
    text-align: center;
    border-radius: 2em;
}

.nav__item:hover{
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    border-radius: 2em;
    box-shadow: 0em .1em .7em rgb(0, 0, 0);
    transform: scale(1.1);
    transition:ease .2s;
}
.hero__container:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease .2s;

}

/* SLIDER STYLES*/
.slider__container{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 300%;
    height: 100vh;
    display: flex;
    margin-left: -100%;
}
.slider__section{
    /*otro overflow en body*/
    width: 100%;
    position: relative;
}
.slider__img{
    display: block;
    height: 100vh;
    object-fit: cover;
}
.section__content{
    position: absolute;
    top: 12%;
    left: 5%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #ffffff;
    justify-content: space-between;
    padding: 1.5em;
}
/*img1*/
.slider__subtitle--1{
    font-size: 220%;
    padding: .2em;
    margin-right:30em;
    line-height: 1.1;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}
.slider__title--1{
    line-height: 1.2;
    font-size: 600%;
    text-transform: uppercase;
    background: #00abf055;
    font-weight: 600;
    color:var(--second-bg-color);
    margin-right: 7.8em;
}
.slider__subtitle--a1{
    font-size: 360%;
    padding: .2em;
    margin-right:3em;
    line-height: 1.1;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}
.btn__offer--1{
    padding: 1em 3em;
    background:var(--bg-color);
    border-radius: 2em;
    position: absolute;
    bottom: -15%;
    left: 10%;
}
/*img2*/
.slider__subtitle--2{
    font-size: 220%;
    line-height: 1.1;
    text-align: left;
    margin-right: 30em;
    font-weight: 600;
    text-transform: uppercase;
}
.slider__title--2{
    margin-right: 2em;
    line-height: 1.2;
    font-size: 600%;
    text-transform: uppercase;
    background: #00abf055;
    font-weight: 600;
    color: var(--naranjaYa);
}
.slider__subtitle--a2{
    font-size: 360%;
    padding: .2em;
    margin-right:4em;
    line-height: 1.1;
    font-weight: 600;
    text-transform: uppercase;
}
.btn__offer--2{
    padding: 1em 3em;
    background:var(--bg-color);
    border-radius: 2em;
    position: absolute;
    bottom: -15%;
    left: 10%;
}
/*img3*/
.slider__subtitle--3{
    font-size: 220%;
    padding: .2em;
    margin-right:30em;
    line-height: 1.1;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}
.slider__title--3{
    line-height: 1.2;
    font-size: 600%;
    text-transform: uppercase;
    background: #00abf055;
    font-weight: 600;
    color: var(--naranjaYa);
    margin-right: 7.8em;
}
.slider__subtitle--a3{
    font-size: 360%;
    padding: .2em;
    margin-right:3em;
    line-height: 1.1;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}
.btn__offer--3{
    padding: 1em 3em;
    background:var(--bg-color);
    border-radius: 2em;
    position: absolute;
    bottom: -15%;
    left: 10%;
}
.btn__offer:hover{
    cursor: pointer;
    border-radius: 2em;
    background: var(--main-color);
    transform: scale(1.1);
    transition: all ease .3s;
    color: #fff;
}
.btn__offer:active{
    background: var(--second-bg-color);
}
.slider__btn{
    font-size: 4em;
    font-weight: bold;
    position: absolute;
    font-family: monospace;
    text-align: center;
    top: 45%;
    padding: .5em;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
}
.slider__btn.btn__left{
    left: -1em;
    margin-left: .7em;
}
.slider__btn.btn__right{
    right: .1em;
    padding-right: .15em;
}
.slider__btn:hover{
    color: var(--main-color);
    cursor: pointer;
    transition: .2s;
}

/* NOSOTROS */
.nosotros{
    background: var(--second-bg-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-flow: column nowrap;
    padding: 4em;
}
.nosotros__company{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-flow: row nowrap;
    margin-bottom: 2em;
    hyphens: none;
}
.nosotros__subtitle--a{
    font-size: 160%;
    color: var(--azulYa);
    font-weight: 600;
    color: var(--main-color);
    padding: .3em;
    width: 100%;
}
.nosotros__titles{
    flex: 3;
    display: flex;
    color: var(--blanco);
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}
.nosotros__title{    
    width: 100%;
    padding: .2em 0 .2em .1em;
    font-size:300%;
    font-weight: 600;
}
.nosotros__subtitle{
    width: 100%;
    padding: .5em;
    font-weight: 600;
    color: var(--main-color);
}
.nosotros__paragraph{
    flex: 5;
    padding: 1.5em 2em;
    background: #00abf026;
    hyphens: none;
}
.nosotros__paragraph span{
    font-size: 104%;
    display: flex;
    text-align: justify;
    line-height: 1.3em;
}
.nosotros__titles--a{
    text-align: right;
}


/* SERVICIOS */
.services{
    padding:5em 6em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
    color: #fff;
    background: var(--second-bg-color); 
}
.services__img{
    flex: 5;
    border-radius: 50%;
}
.services__title{
    font-size: 190%;
    color: #00abf0;
    padding: .6em 0;
}
.services__titles{
    padding: 10em 2em 10em 5em;
    font-weight: 600;
    line-height: 1.15;
    flex: 8;
    hyphens: none;
}
.services__paragraph{
    line-height: 1.4em;
    background: var(--azulYA);
    padding: 1em;
}

/* CARDS */
.cards__container{
    width: 100%;
    background: var(--bg-color);
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: #fff;
}
.card{
    margin: 5em 2em;
    display: grid;
    background: var(--azulYA);
    grid-template-rows:(3, 1em 50% 2em 1fr);
    border-radius: .4em;
    border: 2px solid #fff;
}
.card__title{
    background: var(--second-bg-color);

    padding: 1em;
    font-size: 115%;
    text-align: center;

}
.card:hover{
    cursor: pointer;
    scale: .95;
    transition: .5s;
}
.card__img{
    padding: 1em;
    height: 100%;
}
.card__paragraph{
    padding: 1em .5em;
    hyphens: none;
    text-align: center;

}
.card__info{
    text-align: center;
    padding: 1em;
    font-size: 120%;
    background: var(--second-bg-color);

}
.card__info:hover{
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    transition:ease .5s;

}


/*FORMULARIO*/
.form__container{
    background: var(--bg-color);
    color: #fff;

}
.form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 40%;
    margin: 0 auto;

}
.item__form {
    border: 2px solid #fff;
    width: 100%;
    padding: .5em;
    margin: .3em;
}
.item__form input{
    width: 100%;
    outline: none;
}
.form__btn{
    color: #fff;
    padding: 1em;
    border: 2px solid #fff;
    border-radius: 1em;
}


/*FOOTER*/
.footer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.footer .copy{
    padding: 1.5em;
    color: #fff;
    text-align: center;
    width: 100%;
    background:var(--bg-color);
}
.footer .items{
    color: #fff;
    padding: 2em;
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2em;
    border-bottom: 2px solid #000;
}
.footer__title{
    font-size: 120%;
    padding: 1em 0;
    color: var(--main-color);
}
.services__item{
    padding:.4em .3em;
    cursor: pointer;
}
.services__item:hover{
    color: var(--main-color);
    scale: 1.1;
    transition: all .3s;
    transform: translateX(5%);
}

.footer__paragraph{
    hyphens: none;
    line-height: 1.2;
    font-size: 105%;
}




