:root{
    --negro: #0c0a0a;
    --blanco: #f0f0f0;
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
    
    
    --azulYa:#18547c;
    --naranjaYa:#ff9a02;
    /* Tipografía */
    --tipo-principal: 'Montserrat', sans-serif;
    --tipo-secundaria: Verdana;
}

body{
    max-width: 1600px;
    overflow-x: hidden;
    margin: 0 auto;
}

/* HEADER STYLES*/
.header{
    color: var(--text-color);
    background:var(--naranjaYa);
    width: 100%;
    top: 0;
    left: 0;
    position: sticky;
    margin: 0 auto;
    z-index: 1000;
    box-shadow: 0em .05em .7em black;
}
.hero__container{
    flex: 1;
    max-width: 18%;

}
.bx{
    font-size: 2.5em;
    display: none;
}
.nav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}
.nav__list{
    flex: 4.5;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
}
.nav__item{
    padding: .4em .5em;
    margin: 0 .3em;            
    flex: 1;
    hyphens: none;
    text-align: center;
    border-radius: 2em;
    background: var(--azulYa);
}

.nav__item:hover{
    cursor: pointer;
    border-radius: 2em;
    box-shadow: 0em .1em .7em rgb(248, 37, 0);
    transform: scale(1.1);
    transition:ease .2s;
}
.hero__container:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease .2s;

}

/* CARROUSEL STYLES*/
.slider__container{
    width: 100%;
    top: .1em;
    position: relative;
}

.slider{
    width: 300%;
    height: 100vh;
    display: flex;
    margin-left: -100%;
}

.slider__section{
    overflow-x: hidden;
    /*otro overflow en body*/
    width: 100%;
    position: relative;
}

.slider__img{
    display: block;
    height: 87.4vh;
    object-fit: cover;
}
.section__content{
    position: absolute;
    top: 12%;
    left: 4%;
    background: transparent;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #ffffff;
    justify-content: space-between;
    padding: 1em;
    margin-right: 3em;

}

/*img1*/
.slider__subtitle--1{
    font-size: 320%;
    padding: .2em;
    margin-right:19em;
    line-height: 1.1;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}
.slider__title--1{
    line-height: 1.2;
    font-size: 600%;
    text-transform: uppercase;
    background: #27138392;
    font-weight: 600;
    color: var(--naranjaYa);
    margin-right: 7.8em;
}
.slider__subtitle--a1{
    font-size: 360%;
    padding: .2em;
    margin-right:3em;
    line-height: 1.1;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}
.btn__offer--1{
    padding: 1em 3em;
    background: var(--azulYa);
    border-radius: 2em;
    position: absolute;
    bottom: -15%;
    left: 10%;
}

/*img2*/
.slider__subtitle--2{
    font-size: 320%;
    padding: .2em;
    line-height: 1.1;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}
.slider__title--2{
    line-height: 1.2;
    font-size: 600%;
    text-transform: uppercase;
    background: #27138392;
    font-weight: 600;
    color: var(--naranjaYa);
}
.slider__subtitle--a2{
    font-size: 360%;
    padding: .2em;
    margin-right:3em;
    line-height: 1.1;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}
.btn__offer--2{
    padding: 1em 3em;
    background: var(--azulYa);
    border-radius: 2em;
    position: absolute;
    bottom: -15%;
    left: 10%;
}

/*img3*/

.slider__subtitle--3{
    font-size: 320%;
    padding: .2em;
    margin-right:19em;
    line-height: 1.1;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}
.slider__title--3{
    line-height: 1.2;
    font-size: 600%;
    text-transform: uppercase;
    background: #27138392;
    font-weight: 600;
    color: var(--naranjaYa);
    margin-right: 7.8em;
}
.slider__subtitle--a3{
    font-size: 360%;
    padding: .2em;
    margin-right:3em;
    line-height: 1.1;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}
.btn__offer,.btn__offer--3{
    padding: 1em 3em;
    background: var(--azulYa);
    border-radius: 2em;
    position: absolute;
    bottom: -15%;
    left: 10%;
}

/*asdasd*/
.btn__offer:hover{
    cursor: pointer;
    border-radius: 2em;
    background: var(--naranjaYa);
    transform: scale(1.1);
    transition: all ease .15s;
    color: #000;

}
.buttons{

}
.slider__btn{
    font-size: 4em;
    font-weight: bold;
    position: absolute;
    font-family: monospace;
    text-align: center;
    top: 45%;
    padding: 1em;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
}
.slider__btn.btn__left{
    margin-left: .15em;

}
.slider__btn.btn__right{
    right: .1em;
    padding-right: .15em;
}

.slider__btn:hover{
    color: var(--naranjaYa);
    cursor: pointer;
    scale: 1.2;
    transition: .2s;
}































/* .carrousel{
    width: 100%;
    height: 100vh;
    max-width: 120em;
    background: lightblue;
}

.carrousel .container{
    width: 200%;
    background: orange;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    transition: all .5 ease infinite;
    transform: translateX(-50%);

    position: relative;
}

.carrousel .img{
    width: calc(100% / 2);
}
.carrousel .puntos{

    width: 100%;
    background: var(--naranjaYa);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}
.carrousel .punto{
    width: 2em;
    height: 2em;
    background: var(--azulYa);
    border-radius: 50%;
    margin: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    font-size: 120%;

    cursor: pointer;
}
.punto.left{
    position: absolute;
    z-index: 1;
    bottom: 50vh;
    left: 1em;
    text-align: center;
    font-size: 190%;
    color: #fff;
}
.punto.right{
    position: absolute;
    z-index: 1;
    bottom: 50vh;
    right: 1em;
    text-align: center;
    font-size: 190%;
    color: #fff;
}

.carrousel .punto:hover{
    color: var(--blanco);
    cursor: pointer;
    border-radius: 2em;
    box-shadow: 0em .1em .7em rgb(248, 37, 0);
    transform: scale(1.1);
    transition:ease .2s;
}




 */





/* SLIDER STYLES*/
/* .container{
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    margin: 0 auto;
}
.slider {
    background-color: #f2f2f2;
    padding: 2em 0;
}
.slider__container{
    display: grid;
    grid-template-columns: 2em 1fr 2em;
    align-items: center;
    gap: 1em;

}
.slider__body{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    pointer-events: none;
    opacity: 0;
    background: green;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
    position: relative;
    top: 0;
    left: 0;
}
.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}
.slider__img{
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    height:100vh;
}
.slider__texts{
    max-width: 20em;
    position: absolute;
    top: 6em;
    color: var(--blanco);
}
.slider__subtitle{
    font-size: 2.5rem;
    margin-bottom: 1em;
}
.slider__review{
    margin-top: 1em;

    font-weight: 300;
    font-size: 110%;
    line-height: 1.7;
}
.slider__picture{
} */